<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-1">
    <%= link_to new_item_path do %>
      <button class="btn btn-green btn-fab"><i class="fa fa-plus"></i></button>
    <% end %>
  </div>
  <div class="col-md-5"></div>
</div>



<% @items.includes(:category).each do |item| %>
  <div class='container' >
    <div class='row navbar-inverse'>
      <h2><%= item.category.title %></h2>
      <div class='col-md-1'>
        <div class='row'>
          <div class='col-md-6'>
            <%= link_to 'Delete', item_path(item), method: :delete, class: 'btn btn-red btn-raised' %>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <%= link_to 'Update', edit_item_path(item), method: :get, class: 'btn btn-blue btn-raised' %>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <ul class='list-group'>
          <li class='list-group-item'>Price:<%= item.name %></li>
          <li class='list-group-item'>Price:<%= item.price %></li>
          <li class='list-group-item'>Description:<%= item.description %></li>
        </ul>
      </div>
      <div class='col-md-1'>
        <div class='row'>
          <div class='col-md-1'>
          </div>
          <div class='col-md-2'>
            <button  style='margin-top:15px'>
              <%= link_to 'Show bookings for this item', item_books_path(item), method: :get, class: 'btn btn-green btn-raised' %>
            </button>
          </div>
          <div class='col-md-1'>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

